Source: kdoctools
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               docbook-xml,
               docbook-xsl,
               extra-cmake-modules (>= 1.6.0),
               libkf5archive-dev (>= 5.6.0),
               libxml2-dev,
               libxml2-utils,
               libxslt1-dev,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kdoctools
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/kdoctools.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kdoctools.git

Package: kdoctools-dev
Section: libdevel
Architecture: any
Depends: kdoctools5 (= ${binary:Version}),
         libkf5archive-dev (>= 5.2.0),
         qtbase5-dev,
         ${misc:Depends}
Description: Development files for kdoctools5
 KDocTools is a set of tools to generate documentation in various formats from
 DocBook files.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the development files for kdoctools5.

Package: kdoctools5
Section: doc
Architecture: any
Depends: docbook-xml,
         docbook-xsl,
         libxml2-utils,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Tools to generate documentation in various formats from DocBook
 KDocTools is a set of tools to generate documentation in various formats from
 DocBook files.
 .
 This package is part of KDE Frameworks 5.

Package: kdoctools5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: allowed
Depends: kdoctools5 (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for kdoctools5
 KDocTools is a set of tools to generate documentation in various formats from
 DocBook files.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the debug symbols for kdoctools5.
